@import "lora.css";

body {
    font-family: loraregular;
}


.admin-nav-div {
    width: 740px;
    margin: 0 auto !important;
}

.admin-nav li {
    padding: 0 20px;
}

.area-view textarea {
    width: 100%;
    border: none;
    max-width: 100%;
}

.text-lora-italic {
    font-family: loraitalic;
}

.form-label{
    font-family: loraitalic;
    margin: 0 20px 0 5px;
}
.del_width{
    width: 124px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background: #5e9ac1;
    color: #ffffff !important;
}

.navbar-default .navbar-brand {
    color: #5e9ac1;
    font-size: 14px;
    text-decoration: underline;
}

.navbar {
    font-family: lorabold;
}

.table a {
    font-family: sans-serif;
}

.table > tbody > tr:first-child td {
    border-top: none;
}

.alert {
    padding: 0;
    border: none;
    border-bottom: 1px solid #EDEDED;
    border-radius: 0;
}

.alert-info {
    height: 85px;
    font-size: 16px;
    color: #00A3C8;
    background-color: #F5FBFC;
}

.bord {
    margin-top: 20px;
    border-top: 1px solid #a6a6a6;
    border-bottom: 1px solid #a6a6a6;
}

.hr {
    margin-bottom: 0;
}

.navbar a {
    text-decoration: none;
}
/*7399bf*/
a {
    color: #00A3C8;
    text-decoration: underline;
}

a:hover {
    color: #0B5CA7;
    text-decoration: underline;
}

.text-danger {
    color: #FF7071;
}

a.text-danger:hover {
    color: #ff0000;
}

.g-photo {
    max-height: 165px;
    margin: 0 auto 7px auto;
}

.categories {
    font-family: loraregular;
    font-size: 12px;
    color: #a1a1a1;
}

.list td, .list img {
    max-width: 190px;
    overflow: hidden;
}

.child {
    display: inline-block;
    vertical-align: middle;
}

.helper {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0px;
}

.hr {
    margin-bottom: 0;
}

.marg {
    margin: 20px 0;
}
#marg-l {
    margin-left: 3px;
}
.tmp{
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    height: 450px;
}
.img{
    height: 450px;
}
.tmp img{
    z-index: 1;
    top: 0;
    left: 0;
}
.change{
    bottom: 20px;
    right: 166px;
    position: absolute;
}
.tmp span{
    position: absolute;
    right: 70px;
    bottom: 40px;
}
.drop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}
.tmp input{
  /*  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;*/
}
.marg-r {
    margin-right: 25px;
}
.m{
    height: 165px
}
#block{
    border: none;
}
.date {
    font-family: lorabold;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: baseline;
}

.table > tbody > tr:last-child {
    border-bottom: 1px solid #e7e7e7;
}

.container {
    margin-bottom: 60px;
    padding-bottom: 30px;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: 0px;
    margin-left: 0px;
}

.navbar-nav li a {
    padding-left: 23px;
    padding-right: 23px;
}
.navbar-nav li:hover {
    background: #F5FBFC;
}

.navbar-default {
    background: #ffffff;
    border: none;
    border-bottom: 2px solid #e7e7e7;
    border-radius: 0;
}

.navbar-header {
    padding-left: 15px;
}

.navbar-header:hover {
    background: #F5FBFC;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.pad {
    padding-left: 15px;
    font-family: sans-serif;
}

.upl-wrap {
    height: 85px;
    border-bottom: 1px solid #e7e7e7;
    background-color: #F8FDFF;
}

.upl-photo-gal {
    position: relative;
    margin: 0 auto;
    width: 97%;
    top: 10px;
    border: 4px dashed #D9F5FE;
    border-radius: 10px;
    height: 65px;
    text-align: center;

}

.upl-photo-gal p {
    margin-top: 10px;
}

.upl-photo-gal p span:first-child {
    color: #00A2CB;
    font-size: 20px;
    text-decoration: underline;
    font-family: sans-serif;
    margin: 0 20px;
}

.upl-photo-gal p span:nth-child(2) {
    color: #8BC2DE;
    font-family: loraitalic;
    margin: 0 20px;
}

.upl-photo-gal input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.upl-photo {
    position: relative;
    border: 4px dashed #e7e7e7;
    border-radius: 20px;
    background: url("/assets/images/site/add_photo_btn.png") no-repeat center 25%;
    width: 100%;
    height: 450px;
    text-align: center;
    color: #959595;
    padding: 0 30%;
    margin: 20px 0;
}

.upl-photo:hover {
    border-color: #D4D4D4;
    color: #717171;
}

.upl-photo > p:first-child {
    font-size: 35px;
    padding-top: 65%;
}

.upl-photo > p:nth-child(2) {
    padding-top: 30px;
    font-family: loraitalic;
}

.upl-photo > input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.checkbox-div input:checked + label{
    background-position: left -20px;
    color: #42CEFF;
}
.checkbox-div input {
    opacity: 0;
    display: none;
}

.checkbox-div label {
    font-style: italic;
    color: #737373;
    padding-left: 25px;
    background: url("/assets/images/site/sm-cat-sprite.png") no-repeat;
    background-position: left 0px;
    cursor: pointer;
}

.checkbox-div label:hover {
    opacity: 0.7;
}

.close:hover, .close:focus {
    opacity: 1;
    color: #ff0000;
}

#recipe-h2 {
    font-family: loraitalic;
}

.step-wrap {
    position: relative;
}

.out {
    position: absolute;
    right: -20px;
    top: -5px;
    font-weight: 400;
    font-size: 24px;
    color: #ff0000;
    opacity: 0.6;
}

.btn-primary {
    background: linear-gradient(to top, #00ACFF, #00F2FE);
    border-color: #00ACFF;
    text-decoration: none;
}

.btn-primary:hover {
    background: linear-gradient(to top, #00F2FE, #00ACFF);
    border-color: #00ACFF;
}

.add-link {
    position: relative;
    display: block;
    height: 100%;
    font-family: sans-serif;
}

.add-link > span {
    position: absolute;
    top: 30px;
    left: 30px;
    text-decoration: underline;
}

#search-view {
    text-transform: uppercase;
    padding-left: 35px;
}

.panel-title > a {
    font-family: sans-serif;
    text-decoration: none;
}
#nav {
    max-width: 950px;
}
.pagination li.active a{
    background-color: #5e9ac1;
    border-color: #5e9ac1;
}
.pagination li.active a:hover{
    opacity: 0.7;
}
.field-wrap{
    position: relative;
}
.button{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border: none;
    height: 100%;
    width: 40px;
    background: url("/assets/images/site/ic_search.png") no-repeat center center;
    background-size: 30%;
    cursor: pointer;
    outline: none;
}
.btn-reset{
    position: absolute;
    right: 10px;
    top: 0;
    height: 100%;
    border: none;
    text-decoration: underline;
    color: #337ab7;
    font-family: sans-serif;
    background-color: transparent;
    outline: none;
}
.xreset{
    position: absolute;
    right: 10px;
    top: 0;
    height: 100%;
    border: none;
    text-decoration: none;
    color: #FF4E4E;
    font-family: sans-serif;
    background-color: transparent;
    outline: none;
    opacity: 0;
    background: url("/assets/images/site/close.png") no-repeat center center;
}
.show-xreset{
    opacity: 1;
}
.highlights{
    border-bottom: 1px solid #5e9ac1;
}
.fix_menu{
    top: 69px !important;
    transition: top 0.5s !important;
    transition-delay: 0.3s !important;
}
#main{
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 1200px;
    height: 69px;
    background: url("/assets/images/site/img_logo_1.png")no-repeat center center;
    background-color: #ffffff;
    z-index: 50;
}
.hide_el{
    top: -12px !important;
}
.hide_el *{
    opacity: 0;
}
#wrapper.show_el{
    transition: 0.5s;
    transition-delay: 0s;
}
#wrapper.hide_el{
    transition-delay: 0.3s !important;
}
#wrapper.show_el #logo1, #wrapper.show_el #stamp{
    transition-delay: 0.3s;
}
#wrapper{
    background-color: #ffffff;
    width: 100%;
    min-width: 1200px;
    position: fixed;
    top: 69px;
    z-index: 11;
    height: 81px;
    transition: top 0.5s ;
    transition-delay: 0 ;
}
#logo1{
    width: 1200px;
    height: 14px;
    margin: 0 auto;
    background: url("/assets/images/site/img_logo_2.png")no-repeat center center;
    transition: opacity 0.5s;
}
#logo2{
    width: 1200px;
    height: 67px;
    margin: 0 auto;
    background: url("/assets/images/site/img_stamp.png")no-repeat center center;
    margin-bottom: 5px;
    transition: opacity 0.5s;
}
#stamp{
    width: 100%;
    height: 67px;
    background: url("/assets/images/site/ribbon_texture.png")repeat-x center center;
    transition: opacity 0.5s;
}
#rght_block{
    position: absolute;
    top: 25px;
    right: 48px;
    width: 134px;
    height: 18px;
}
#menu_main{
    background-image: url('/assets/images/site/img_main.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    min-width: 1200px;
    height: 100%;
    margin-top: 10px;
}
#music{
    cursor: pointer;
    float: left;
    height: 18px;
    width: 20px;
}
#lang{
    position: absolute;
    top: -4px;
    right: 0;
    letter-spacing: 1px;
    height: 29px;
    width: 91px;
    overflow: hidden;
    cursor: pointer;
    color: #5e9ac1;
    float: right;
    font-size: 12px;
    background: #fff url("/assets/images/site/ic_lang_dropdown.png")no-repeat 80px 13px;
    border: 1px solid #ffffff;
}
#lang:hover{
    background: #ffffff;
    overflow: visible;
    transition: 1s;
}
.lang_ul{
    list-style-type: none;
    width: 92px;
    height: 87px;
    padding: 0;
    margin: 0;
    border: 1px solid #ffffff;
}
.lang_ul:hover{
    background: #ffffff;
    border: 1px solid #5e9ac1;
}
.lang_li{
    position: relative;
    height: 29px;
    width: 90px;
    line-height: 29px;

    float: left;
}
.lang_li:hover{
    height: 27px;
    line-height: 27px;
    color: #fff;
    background-color: #5e9ac1;
    border: 1px solid #5e9ac1;
}
.lang_li>a{
    text-decoration: none;
    color: #5e9ac1;
    position: absolute;
    top: 0;
    left: -2px;
    padding-left: 8px;
    width: 94px;
    height: 100%;
}
.lang_li>a:hover{
    text-decoration: none;
    color: #ffffff;
}
#eq {
    width: 20px;
    height: 18px;
}
.line {
    width: 2px;
    float: left;
    transition: height linear 0.15s
}
.blue {
    background: #5e9ac1;
    height: 100%;
}
.white {
    background: #fff;
    position: relative;
    right: 2px;
}
.off .white.w1{
    height: 90%;
}
.off .white.w2{
    height: 70%;
}
.off .white.w3{
    height: 55%;
}
.off .white.w4{
    height: 75%;
}
.off .white.w5{
    height: 10%;
}

#menu_wrap{
    position: fixed;
    border-top: 1px solid #5e9ac1;
    top: 150px;
    width: 100%;
    height: 40px;
    z-index: 11;
    transition: top 0.5s;
    transition-delay: 0;
}
#menu_wrap nav{
    min-height: 40px;
    border-radius: 0;
    border: none;
    background-color: rgba(255,255,255,0.7);
    width: 100%;
    min-width: 1200px;
}
#inner_menu_block{
    height: 40px;
    width: 1190px;
    margin: 0 auto;
}
#inner_menu_block{
    height: 40px;
}
.main_menu_li{
    width: 170px;
    text-align: center;
}
.menu_links{
    height: 40px;
    line-height: 40px !important;
    padding: 0 !important;
    color: #5c5c5c;
    letter-spacing: 1.5px;
}
#main_img{
    width: 100%;
    min-width: 1200px;
    margin: 0 auto;
    z-index: 0;
}
#bottom_hr{
    margin-top: 50px;
    width: 1200px;
}
#bottom_wrap{
    width: 100%;
    min-width: 1200px;
    margin: 50px 0;
}
#bottom_wrap div{
    color: #5e9ac1;
    width: 604px;
    margin: 0 auto;
    height: 50px;
    background-image: url('/assets/images/site/img_bot_stamp.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
#bottom_email{
    font-weight: bold;
    letter-spacing: 1px;
    width: 200px;
    text-align: right;
    margin-top: 12px;
}
#bottom_num{
    font-weight: bold;
    letter-spacing: 1px;
    width: 200px;
    margin-top: 12px;
}
#main_view{
    width: 100%;
    min-width: 1200px;
    margin-top: 20px;
    margin-bottom: 10px;
}
#page_wrap{
    width: 1200px;
    margin: 0 auto;
}
#page_wrap .show-hint{
    float: left;
    margin: 24px 12px;
    overflow: hidden;
    position: relative;
    border-radius: 2px;
    width: 276px;
    height: 450px;
}
.show-hint img{
    position: absolute;
    top: 0;
    height: 450px;
    left:-25%;
}

.show-hint .hint{
    background: rgba(255,255,255,0.9);
    position: absolute;
    width: 276px;
    height: 200px;
    bottom: 0;
    left:0;
}
.show-hint .hint{
    /*padding: 20px;
    background: rgba(231,231,231,0.8);
    position: absolute;
    width: 276px;
    height: 200px;
    bottom: 0;
    left:0;*/
}
.hint p:first-child{
    word-wrap: break-word;
    color: #3c3c3c;
    letter-spacing: 1px;
    font-size: 24px;
    line-height: 28px;
    margin-left: 30px;
    margin-top: 36px;
    margin-right: 20px;
    padding-bottom: 24px;
    border-bottom: 1px solid #5e9ac1;
}
.hint p:first-child{
   /* padding: 0 5px;
    border-bottom: 1px solid #a1a1a1;*/
}
.hint p:last-child{
  /*  padding: 0 5px;
    font-size: 12px;
    font-family: sans-serif;*/
}
.hint p:last-child{
    font-size: 14px;
    line-height: 16px;
    margin-right: 24px;
    margin-bottom: 32px;
    margin-top: 16px;
    margin-left: 32px;
    color: #333;
    font-family: loraitalic;
}
#trapezoid {
    border-bottom: 17px solid #ffffff;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    height: 0;
    width: 100%;
    min-width: 1200px;
    position: relative;
    top: -16px;
}
#about_main{
    width: 1000px;
    margin: 100px auto;
    height: 100%;
}
#left_bord{
    background: url("/assets/images/site/img_about_vensel_left.png")no-repeat center center;
    float: left;
}
#right_bord{
    background: url("/assets/images/site/img_about_vensel_left.png")no-repeat center center;
    transform: rotate(180deg);
    float: right;
}
#img_about{
    margin-left: 108px;
    margin-right: 41px;
    float: left;
}
.about_border{
    width: 25px;
    height: 404px;
}
#about_text{
    position: relative;
    font-family: loraitalic;
    width: 458px;
    padding: 5px 29px;
    background: url("/assets/images/site/ic_about_text_start.png") no-repeat;
    float: left;
}

#about_text p {
    font-size: 15px !important;
}
#quotes{
    position: absolute;
    width: 19px;
    height: 17px;
    bottom: 23px;
    right: 0;
    transform: rotate(180deg);
    background: url("/assets/images/site/ic_about_text_start.png") no-repeat;
}
#author{
    position: absolute;
    text-align: center;
    height: 50px;
    bottom: -42px;
    right: 56px;
    font-size: 24px;
}
#about_text p{
    margin-bottom: 18px;
}
.content{
    height: 150px;
}

/**
*
*/
#recipes_main{
    width: 1200px;
    margin: 85px auto;
}
#bar{
    width: 100%;
    height: 46px;
    border-bottom: 1px solid #d9d9d9;
}
#bar div{
    float: left;
}
#bordik{
    width: 1px;
    height: 46px;
    background-color: #d9d9d9;
}
#bordik div{
    width: 1px;
    height: 38px;
    background-color: #ffffff;
}
.sort{
    position: relative;
    padding-top: 12px;
    text-align: center;
    font-family: lorabold;
    color: #5c5c5c;
    width: 92px;
    height: 58px;
    cursor: pointer;
    background: url("/assets/images/site/dd_g.png") no-repeat 70px 22px;
    transition: 0.3s;
}
.sort_open{
    background: #5e9ac1 url("/assets/images/site/dd_w.png") no-repeat 70px 22px;
    border-bottom: 1px solid #4f86a8;
    color: #ffffff;
    transition: 0.3s;
}
.bordik_hide{
    opacity: 0;
}
#rec_wrap{
    position: relative;
    z-index: 10;
    padding-top: 22px;
}
#rec_search{
    position: relative;
    height: 34px;
    margin-top: 12px;
    line-height: 22px;
    width: 1107px;
    text-align: center;
    padding-left: 22px;
    background: url("/assets/images/site/search.png") no-repeat 24px 6px;
    font-family: loraregular;
    color: #5c5c5c;
}
#rec_search .srch_inp{
    border: none;
    margin-left: 22px;
    outline: none;
    width: 1063px;
}
.srch_inp_focus{
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.srch_sbmt{
    position: absolute;
    top: 0;
    left: 22px;
    opacity: 0;
}
.recipe_item{
    width: 1102px;
    margin: 0 auto;
    padding: 16px 0;
}
.recipe_item_img{
    float: left;

}
.recipe_item_text{
    position: relative;
    width: 302px;
    padding: 0 37px;
    float:left;
    margin-top: 40px;
}
.recipe_item_title{
    word-wrap: break-word;
    color: #3c3c3c;
    text-transform: uppercase;
    font-family: loraregular;
    font-size: 24px;
    letter-spacing: 1px;
    border-bottom: 1px solid #5e9ac1;
    padding-bottom: 36px;
}
.recipe_item_title:hover{
    opacity: 0.8;
}
.recipe_item_desc{
    margin-top: 20px;
    color: #000000;
    font-family: loraitalic;
    font-size: 13px;
    text-align: justify;
    text-indent: 10px;
    line-height: 2;
}
.rec_item_cat_wrap{
    width: 228px;
    height: 257px;
    position: absolute;
    top: 157px;
}
.recipe_item_cat{
    position: absolute;
    bottom: 33px;
    list-style: none;
}
.cat_items{
    font-family: lorabold_italic;
    font-size: 14px;
    color: #5e9ac1;
    float: left;
    margin-right: 5px;
    display: inline-block;
}

/**
* recipe
*/

#recipe_main_top{
    position: relative;
    z-index: 0;
    width: 100%;
    height: 540px;
    margin: 0 auto;
    min-width: 1200px;
    max-width: 1920px;
    text-align: center;
    overflow: hidden;
}
.rec_main_top_img{
    width: 100%;
    height: auto;
}
.rec_main_top_in{
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
    padding-bottom: 22px;
    background-image: linear-gradient(to top, rgba(0,0,0,0.65), transparent);
}
.recipe_main_title{
    font-family: loraregular;
    color: #ffffff;
    font-size: 72px;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.recipe_main_cat{
    color: #ffffff;
    font-size: 18px;
    font-family: lorabold_italic;
}

.recipe_desc {
    width: 598px;
    margin: 60px auto 65px auto;
    text-indent: 10px;
    line-height: 30px;
    font-size: 18px;
    font-family: loraitalic;
    color: #3e3e3e;
    text-align: justify;
}
/*
	ingridients
*/

.recipe_ingr{
    min-width: 1200px;
    max-width: 1920px;
    margin: 0 auto;
}
.ing_title{
    text-align: center;
}
.ing_title label{
    text-transform: uppercase;
    text-align: center;
    color: #3e3e3e;
    font-family: loraregular;
    font-size: 24px;
    letter-spacing: 1px;
}
.recipe_main_cat::before, .recipe_main_cat::after{
    content: url("/assets/images/site/b_line.png");
    margin: 0 25px;
}
.ing_title::before, .ing_title::after{
    content: url("/assets/images/site/g_line.png");
    margin: 0 24px;
}
.ingr_ul{
    list-style-type: none;
    margin: 0 0 0 85px;
    padding: 0 0 37px 0;
}
.ingr_li{
    font-family: loraregular;
    font-size: 20px;
    color: #000000;
}
.ingr_li::before{
    content: '-';
    margin: 0 6px;
}
.ingr{
    margin: 32px auto 60px auto;
    width: 360px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
}
.steps{
    text-align: center;
    width: 800px;
    margin: 0 auto;
}
.steps img{
    width: 100%;
}
.step_wrap{
    width: 100%;
    margin-bottom: 70px;
}
.text_wrap{
    width: 100%;
    margin-top: 25px;
}
.step_val{
    width: 105px;
    line-height: 56px;
    font-size: 60px;
    color: #000000;
    float: left;
}
.step_text{
    width: 615px;
    padding-right: 40px;
    font-family: loraregular;
    font-size: 18px;
    text-indent: 30px;
    color: #3e3e3e;
    text-align: justify;
    float: left;
    line-height: 1.6;
}
.bon_appetit{
    font-family: loraitalic;
    font-size: 36px;
    color: #3e3e3e;
    text-align: center;
}
.simple_recipes{
    font-family: loraitalic;
    font-size: 18px;
    color: #3e3e3e;
    text-align: center;
    margin-top: 100px;
}
.simple_recipes .simple{
    width: 360px;
    padding-top: 35px;
    border-top: 1px solid #bfbfbf;
    margin: 0 auto;
}
.simple_recipes .show-hint{
    text-align: left;
}
.fade_cat{
    position: absolute;
    width: 1200px;
    height: 215px;
    top: 58px;
    left: 0;
    padding: 45px 29px;
    background: #5e9ac1;
    z-index: 9;
    opacity: 0;
    transition: 0.3s;
}
.fade_cat_show{
    opacity: 1;
    transition: 0.3s;
    z-index: 12;
}
.sort-table{
    height: 50px;
    text-align: left;

}
.sort-table a{
    text-decoration: none;
    color: #ffffff;
}
.no_bro{
    border-bottom: 1px solid #4f86a8;
}
.cat_sort{
    display: block;
    width: 100%;
    color: #ffffff;
    float: left;
    font-family: lorabold_italic;
    font-size: 16px;
    height: 37px;
    text-decoration: none;
}
/*
    ajax load
*/
.hide_loader{
    opacity: 0;
}
.loader {
    width: 100px;
    height: 20px;
    margin: 20px auto 10px auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.loader > div {
    content: " ";
    width: 20px;
    height: 20px;
    background: #5e9ac1;
    border-radius: 100%;
    position: absolute;
    -webkit-animation: shift 3s linear infinite;
    animation: shift 3s linear infinite;
}
.loader > div:nth-of-type(1) {
    -webkit-animation-delay: -.6s;
    animation-delay: -.6s;
}
.loader > div:nth-of-type(2) {
    -webkit-animation-delay: -1.2s;
    animation-delay: -1.2s;
}
.loader > div:nth-of-type(3) {
    -webkit-animation-delay: -1.8s;
    animation-delay: -1.8s;
}
.loader > div:nth-of-type(4) {
    -webkit-animation-delay: -2.4s;
    animation-delay: -2.4s;
}

@-webkit-keyframes shift {
    0% {
        left: -60px;
        opacity: 0;
    }
    10% {
        left: 0;
    }
    50% {
        opacity: 0.7;
    }
    90% {
        left: 100px;
        opacity: 1;
    }
    100% {
        left: 160px;
        opacity: 0;
    }
}

@keyframes shift {
    0% {
        left: -60px;
        opacity: 0;
    }
    10% {
        left: 0;
    }
    50% {
        opacity: 0.7;
    }
    90% {
        left: 100px;
        opacity: 1;
    }
    100% {
        left: 160px;
        opacity: 0;
    }
}